<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICADA</title>

    <style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: black;
            width: 100vw;
            height: 100vh;
        }
        .c_bg{
            height: 100%;
            width: 100%;
            color: #20c20e;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        p{
            font-size: 2rem;
            text-align: center;
        }
        pre{
            font-size: 0.55rem;
        }
        @media screen and (max-width:900px){
            pre{
                font-size: 0.3rem;
            }
        }
        @media screen and (max-width:500px){
            pre{
                font-size: 0.2rem;
            }
            h3{
                font-size: 1rem;
            }
        }
    </style>
</head>
<body>
    <div class="c_bg">
        <pre>
               ..*/////#&&&&&&&&%/#///////*...                                                 .////.                                                     ....,///////(((///(///*..
       ,#&@@@%%%(/**,...       .....*(/#%%@&%&%@@@@@&#(,,                              .(&@@@@@@@@&@@@@@%#*                                ,/#%&@@@@@@@@@@@@&#//............/*/***/%%@@@@&(.
   *&@&*    ,(&%@/       *%@@@@&&#*           ,/,     ,*#%@@@@%#*.                   ,@@@@@*.  // . ., ,&%@@(                   ..*#&@@@@&#*,*#/.    .         /@@@@@@&*   &@@#/*  *.  ,*%&&@%.
 /@@# . /*.  .#@*        (@@.     *(((,...*((((%@&(#@@%,  ,/#%%##&@@@@&(,            ,&@@&.   .      ..*. .               ,(&@@@&%/.     ,#@#,   ......   ,/(((@&/       .,#&(,    ..,/#/(/,,
,@@@,   ,#@&(,    .*#* ./(*/(   .*.   ,...    ,      .*%%@@@@@@%#,*/&&%#%@@@%#.        /@@(*  (@%    ,@&.**        .*%@@@&#*.    */#&@@@&#.     .., ...,*(#/.     ,    ..  (&%,   ,(##&@#.,%*
 ,#%#//@(    /&@@#*         /&@@&.    .*/%%%%%%%%#*..**../#%%/*,/%@@&&&&@@#&@@@@@@%*  #@@@&,@@@@# %@@@&.  ,( ,(&@@@@&/. ,(%@@@@%((.      .    ,/(%%%%%%//*(%%/. ##@/      *&&#((#&&*.*%@&(.
    , *%#/@@@@*    ,#@@@*.. #@%.  .(//...    .,.  .,,(@@#/**.*      *&&@@&@@# ..,/#@@@@@@@&,//(*.  . .  *,#@@@&&&/.,%(,#(( ,,..**.  /%&%@@%@&/,,/        .*/(/       ../&@&@@/..#@/#&%(.
         .  /#,#%@@#.   /%@&*#&/,      ,#%@@%*          .,*(#&@@@@@%((/*,. ,%#.  ,%&.%@@&,     .      . *@@#  ///.  .,*.,/(%@@@@@@%#/,../(   ,/* .#@@@&%/.  *%#     /@@@%(//. /@@&,
             , ./%, .,&@@#,  .,/*  .,%#@&#*  .,(%&@@@@@@&%#//*.      .(#/.      *@@%&#,.    ,&@%    ./@&.  / /#.  ./#/*.   *(##(/,,,,(%&@@@@&%%%(#(/%%%%&%/    ./#/%@@(,#@&(&@(
                */((((*    *@&#//.  .,%@&. /&%/..  .#/.    .,((#, .           ..  ..&@@#. .,*@@&   ,&@@%        ((//.   .../(##/*.,..,/#((*,(*..**(@@%,   ... /@%.,(&/.%(*/.
                   .*##&%&@&*    /@@@&/.        *@@@../&@#,                       *%@@@@&,*@@@&. %@@@@/ .*.*        .**.           *%//@%/(@%*/ .*#( .  . ,%/*#.*%#, (&(.
                        ,//@%/(&&%#     *%(((,..(&@/ ,(/*.                        /%@@@&.*.    .  ..   / ..  ,                       .#&@@@@%, /((((#%%&%#/,/&%&&%(,
                              *,.*,,       *%&@@&#*   ./#,                         /@&@&     ,/#,, .*..  ,                             /&@#*,,(&@@@((*(.
                                       *&@&(.    .,%@&(/&&#                       ./@@@(  ..,     ,(,*     (#                         %@@@/,...  ,&&(#@@%,
                                     ,@@@/,(#/..  *&&#&,                           #@@@. .((#.      .#%,    .                        ,@@@*      ,*(#@@((##&.
                                     %@@#   ,#@@@#/,. .   ,,                        #@@/     .(&,  .  ,                              &@@*    ./%@@&&&&((,
                                     .%@@%(@(,  .(@@/                               %@@(  .*,      ,*(%/      /                      &@%       .(@&(%@@@*
                                       .%@&&*,&@#. ,&&. .  ,@#                      &@@*      ((    .(#       ,#                   ,&@@&    .,%%%&&&@.
                                           /%(/%.(@#  %@, .&.  .                    /@@&.     **   .*,     .&  ,(                 ,&@#.(&*#,(#&@@%.
                                               (#(#%(*,  %&*,((/%&%(*                %@@/   ,,@(  ,.       (*   .(.         .#&@@@&&&(,&@%%(/..
                                                   .*(*             ,/               ,@@@(    ,.                   ,,         .*/*,
                                                                                      .@@%, ./(,*,*,
                                                                                        %@@/
                                                                                        .&@@/
                                                                                         .@@@/
                                                                                           ,@@&,
                                                                                             &@@*
                                                                                              ./(.
        </pre>
        <p>
            Well done! You found the secret
        </p>
        <h3>CICADA_SECRET_ON_MY_WEBSITE</h3>
    </div>

    <!-- <div class="footer">
        <p>&copy; Nitin Kushwaha 2021</p>
    </div> -->

    <script>

    </script>
</body>
</html>